@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    top: 0;
}

@font-face {
    font-family: 'IntroHeadR-Base';
    src: url('static/IntroHeadR-Base.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroRustG-Base2Line';
    src: url('static/IntroRustG-Base2Line.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroScriptR-H2Base';
    src: url('static/IntroScriptR-H2Base.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

header img {
    height: 140vh;
    width: auto;
}

header .info-wrapper {
    width: 80%;
    height: 130vh;
    background-color: #12110A;
    padding-left: 1in;
    padding-bottom: 10vh;
    border-left: #F8F4DE dashed 5px;
}

header h2 {
    margin-top: 1in;
    color: #FFCF00;
    font-family: IntroRustG-Base2Line, sans-serif;
    font-size: 0.5in;
}

header p {
    color: #F8F4DE;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-right: 1in;
    text-align: justify;
    margin-top: 0.2in;
}

.un {
    margin-top: 5vh;
}

hr {
    margin-top: 5vh;
    margin-right: 1in;
}